*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}

html{
    scroll-behavior: smooth;
}


.navbar{
    height:60px;
    width:calc(100% - 100px);
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* left logo */
.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border:2px solid transparent;
}

.border:hover{
    border:1.5px solid white;
    border-radius: 4px;
}
/* Deliver to wala section */

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display:flex;
    align-items: center;
}

/* search-tool */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 0.85 rem;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 3px solid orange;
}

/* cart section */
span{
    font-size: 0.85rem;
}

.nav-second{
    font-size: 1rem;
    font-weight: 700;
}

/* box 5 */
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 1rem;
    font-weight: 700;
}

/* panel just before navigation bar that will include links to different sections of the page */
.panel{
    height: 50px;
    background-color: #222f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.panel-ops a{
    font-size: 1rem;
    margin-left: 20px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
    right: 0px;
}


.panel-deals:hover{
    border:1.5px solid white;
    border-radius: 4px;
}

/* hero-section */
.herosection{
    height: 370px;
    width: 100vw;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 110px;
}

.heromsg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

.heromsg a{
    text-decoration: none;
    color:#007185;
}

/* shop section */

.section{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box {
    height:400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content a{
    color: #007185;
    text-decoration: none;
}

a:hover{
    font-weight: 700;
    background-color: red;
}

/* today's deals section */

.heading{
    background-color: #f08804;
    width: 100vw;
    height: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deals{
    width: 100vw;
    background-color: #007185;
    padding-bottom: 5px;
    color: white;
}

.todaybox{
    background-color: #1a201f;
}

.box-image1{
    height: 340px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* customer service section */
.customerforms{
    height: 400px;
    width: 100vw;
    background-color: #2e779b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form1{
    margin-bottom: 15px;
    margin-top: 15px;
}

.text{
    bottom: 5px;
    height: 150px;
    width: 50%;

    font-size: 30px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

button{
    height: 25px;
    font-size: 20px;
    background-color: #f08804;
}

button:hover{
    color: whitesmoke;
    background-color: #232F3E;
    border: 2px solid #f08804;
    border-radius: 5px;
}

/* gift card section */
.giftcards{
    width: 40%;
}

/* selling old items section */
.formsell{
    width: 40%;
}

.formtext{
    width: 60%;
    height: 100px;
}

/* footer */
/* back to top section */
footer{
    margin-top: 0px;
}

.foor-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height:50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.foot-panel1 a{
    color: white;
    text-decoration: none;
}



/* other links in the footer */
.foot-panel2{
    width: 100vw;
    height: 375px;
    background-color: #232F3E;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 1px;
}

a{
    color: white;
    text-decoration: none;
}

h3{
    padding-top:30px;
    padding-bottom: 10px;
    font-weight: 700;
}

.boxes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.foot-panel2 a{
    background-color: #222f3e;
    padding-bottom: 6px;
}

.foot-panel2 a:hover{
    text-decoration: underline;
}

/* socialmedia section */

.foot-panel3{
    padding-bottom: 10px;
    padding-top: 10px;
    height:100px;
    width: 100vw;
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.headingsoc h2{
    justify-content: center;
    align-self: center;
    color: #f08804;
}

.icons{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    height: 50px;
}

.icons i{
    color: white;
}

.soc{
    
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10%;
}

.icons a{
    font-size: 25px;
    color:white;
}

.icons a:hover{
    background-color: #2e779b;
    border: 2px solid white;
    border-radius: 4px;
}

/* copyright section */
.copyright{
    background-color: #1a201f;
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.upper{
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upper a:hover{
    text-decoration: underline;
    background-color: #1a201f;
}

.lower{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
}

/* adding the playcard effects to the todays deals section */
.todaybox{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.todaybox:hover{
    transform: scale(1.03);
}

.card-description{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0,0.75);
    color: white;
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    font-size: 0.9rem;
    text-align: center;
}

.todaybox:hover .card-description{
    transform: translateY(0);
}

/* user review section */
.reviewheading{
    width: 100vw;
}
.review-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 30px ;
    padding: 30px 0;
    background-color: #222f3e;
}

.review-card{
    width: 250px;
    height: 300px;
    perspective: 1000px;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.review-card:hover .card-inner{
    transform:rotateY(180deg);
}

.card-front,.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2px;
    text-align: center;
}

.card-front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.card-back{
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007185;
    color: white;
}

.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 15px;
}

/* review form */

.reviewheading{
    height: 30px;
    background-color: #f08804;
}

.reviewheading p{
    color: black;
    font-size: 25px;
    text-align: center;
}

/* Media Queries for smaller screens */
@media (max-width: 900px) {
    .navbar, .panel-ops, .foot-panel2 {
        flex-direction: column;
        align-items: stretch;
    }
    .shop-section.section, .section.deals, .review-container {
        flex-direction: column;
        align-items: center;
    }
    .box, .todaybox, .review-card, .boxes {
        max-width: 100%;
        min-width: 0;
    }
}

@media (max-width: 600px) {
    .navbar, .panel, .foot-panel2, .review-container {
        flex-direction: column;
        align-items: stretch;
    }
    .nav-search {
        flex-direction: column;
        gap: 5px;
    }
    .panel-ops a {
        font-size: 14px;
    }
    .box-content h2, .heading p {
        font-size: 18px;
    }
    .customerforms, .reviewform {
        max-width: 100%;
        padding: 0 10px;
    }
    .foot-panel3 .icons {
        flex-direction: column;
        gap: 10px;
    }
}